<% provide(:title, (t ".about")) %>
<h1><%= t ".about" %></h1>
<p>
  <%= t ".ab1" %> <a href="http://www.railstutorial.org/"><em><%= t ".ab2" %></em></a> <%= t ".ab" %>
  <a href="http://www.railstutorial.org/book"><%= t ".ab3" %></a> <%= t ".ab4" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".ab5" %></a>
  <%= t ".ab6" %>
  <a href="http://rubyonrails.org/"><%= t ".ab7" %></a>.
  <%= t ".ab8" %>
</p>
