<% provide(:title, (t ".about")) %>
<h1><%= t ".about" %></h1>
<p>
  <%= t ".ab1" %> 
  <%= link_to (t".ab2"), "http://www.railstutorial.org/" %>  
  <%= t ".ab" %>
  <%= link_to (t".ab3"), "http://www.railstutorial.org/book" %> 
  <%= t ".ab4" %>
  <%= link_to (t".ab5"), "http://screencasts.railstutorial.org/" %>
  <%= t ".ab6" %>
  <%= link_to (t".ab7"), "http://rubyonrails.org/" %>
  <%= t ".ab8" %>
</p>
