<% provide(:title, (t ".help")) %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".he1" %> 
  <%= link_to (t".he2"), "http://www.railstutorial.org/help" %>.  
  <%= t ".he3" %>
  <%= link_to (t".he4"), "http://www.railstutorial.org/book" %> 
  <%= t ".he5" %></a>.
</p>
