<footer class="footer">
  <small>
    <%= t"static_pages.about.the" %>
    <%= link_to (t"static_pages.home.ho2"),"http://www.railstutorial.org/" %>
    <%= t".by" %> 
    <%= link_to (t"layout.footer.author"),"http://www.michaelhartl.com/"%>
  </small>
  <nav>
    <ul>
      <li><%= link_to (t"static_pages.about.about"), about_path %></li>
      <li><%= link_to (t"static_pages.contact.contact"), contact_path %></li>
      <li><%= link_to (t".new"),"http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
